li a {
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
}
body {
    background: white url("images/background.jpg") no-repeat;
    background-size: cover;
    background-position: center; 
}